*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color: #efddd8;
}

#back{
    background-color:#355aac;
    width: 250px;
    height: 104vh;
   margin-top: -670px;
}

#middl{
    text-align: center;
    color: white;
    padding: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

h2{
    padding-top: 70px;
    margin-top: 50px;
    line-height: 40px;
    text-align: center;
    font-size: medium;
    color: white;
    font-family:  Arial, Helvetica, sans-serif;
}
footer{
    padding-top: 180px;
    padding-left: 40px;
    text-align: cente;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
   padding-top: -100px;
   padding-left: 300px;
   text-align: justify;
   height: 100px;
    font-size: 40px;
    color:#0c5ab1;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    
    padding-left: 300px;
    text-align: left;
    margin-top: 0px;
    height: 135px;
    font-size: 12px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 200px;
    height: 200px;
    padding-left: 900px;
    
    
}

#low{
    width: 200px;
    height: 200px;
  
    
  
}

a{
    padding: 300px ;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin: 300px;
    background-color:palevioletred;
     
   
}

#logo{
   padding-left: 70px;
   padding-top: 25px;
   word-spacing: 20px;
   color: white;
    
}